@import "tailwindcss";

@theme {
  --color-fpt-orange: #F36F21;
  --color-fpt-blue: #004070;
  --color-fpt-gray: #F0F2F5;
  --color-fpt-text: #333333;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}